# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Just a test

on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: 'v2.2'
      - name: install dependencies
        run: sudo apt install ninja-build libsdl2-dev libsdl2-mixer-dev build-essential unzip nasm libpng-dev libgme-dev libopenmpt-dev libcurl4-openssl-dev pkg-config libvpx-dev libyuv-dev
      - name: Configure
        run: cmake --preset ninja-release
      - name: Build
        run: cmake --build --preset ninja-release
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: /home/runner/work/RingRacers/RingRacers/build/ninja-release/bin/ringracers_v2.3
          tag_name: v2.3
          name: v2.3
