# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Just a test

on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - run: sudo apt install ninja-build
    - run: ninja --version
